

<div class="innerMenu" style="height: 560px;">

    <div class="menuItem" id="div_qg">
        <a href="~/QuestionGroups/QuestionGroups">
            @Resources.General.QuestionGroup
        </a>
    </div>
    <div class="menuItem" id="div_aq">

        <a href="~/Question">
            @Resources.General.AdminQuestions
        </a>
    </div>
    <div class="menuItem" id="div_ar">

        <a href="~/AssignRolPermission/Index">
            @Resources.General.ManageUsers
        </a>
    </div>
    <div class="menuItem" id="div_ai">

        <a href="~/Users/ActiveInActiveUsersIndex">
            @Resources.General.Users
        </a>
    </div>

    <div class="menuItem" id="div_st">

        <a href="~/SuperTrader/Index">
            @Resources.General.SuperTraderProfile الرئيسي
        </a>
    </div>
    <div class="menuItem" id="div_ss">

        <a href="~/Subscribe/AdminSubscribe">
            @Resources.General.sendSubscribe
        </a>
    </div>

    <div class="menuItem" id="div_nm">

        <a href="~/NewsMainCategory/NewsMainCategory">
           @Resources.General.NewsMainCategory
        </a>
    </div>

    <div class="menuItem" id="div_sn">

        <a href="~/News/ListIndex">
            @Resources.General.SearchNews
        </a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


