<div class="innerMenu" style="height: 420px;">
    <div class="menuItem " id="div_dashboard">
        <a href="~/Home/SuperTraderDashboard">
            @Resources.General.Dashboard
        </a>
    </div>
    <div class="menuItem" id="div_editProfile">

        <a href="~/EditProfile">
            @Resources.General.ProfileInfo
        </a>
    </div>
    <div class="menuItem" id="div_updatePrices">
        <a href="~/TraderPrices/Index">
            @Resources.General.UpdatePrices

        </a>
    </div>
    <div class="menuItem" id="div_pricesOffers">
        <a href="~/Pricer/Index">
            @Resources.General.PricesOffers

        </a>
    </div>
    <div class="menuItem" id="div_basket">
        <a href="~/Basket/Index">
            @Resources.General.Basket
        </a>
    </div>
    <div class="menuItem" id="div_fvlist">
        <a href="~/FavorateList/AssignTraders">
            @Resources.General.ManageFav
        </a>
    </div>
</div>



