@model IEnumerable<BLL.DomainClasses.Prices>
@using DAL.UnitOfWork
@using localization.Helpers;


@{
    var minBuyVal = "0.00";
    var maxSellVal = "0.00";
    var trClass = "clr_tr";
    UnitOfWork uow = new UnitOfWork();
}


@{
    string minVal = "0.0";
    string maxVal = "0.0";
    try
    {

        minVal = ViewData["minBuyVal"].ToString();
        maxVal = ViewData["maxSellVal"].ToString();
    }

    catch (Exception ex)
    {

        minVal = "0.0";
        maxVal = "0.0";
    }
}
<style>
    .innerData {
        width: 78% !important;
    }
</style>


<table style="width:100%" border="0" class="data_table">
    <tr>
        <td width="30%"></td>
        <td><h2>@Resources.General.minSellPrice</h2>  </td>
        <td><h2>@Resources.General.maxBuyPrice</h2> </td>
        <td width="30%"></td>
    </tr>
    <tr>
        <td width="30%"></td>
        <td>
            <div class="price_Div6">
                <label id="txtBestSell" class="best_price_lb">@maxVal</label>
                <img src="~/Content/images/circ.png" />
            </div>

        </td>
        <td>
            <div class="price_Div6">
                <label id="txtBestBuy" class="best_price_lb">@minVal</label>
                <img src="~/Content/images/circ.png" />
            </div>
        </td>
        <td width="30%"></td>
    </tr>
</table>

<table style="width: 100%;" id="list" border="0" class="data_table">
    <tr>
        <th scope="col">@Resources.General.TraderName</th>
        <th scope="col">
            @Resources.General.CurrentSell
        </th>
        <th scope="col">@Resources.General.CurrentBuy</th>
        <th scope="col">
            @Resources.General.OpenSell
        </th>
        <th scope="col">
            @Resources.General.OpenBuy
        </th>
        <th scope="col">
            @Resources.General.sellMin
        </th>
        <th scope="col">
            @Resources.General.buyMax
        </th>

        <th scope="col">
            @Resources.General.LastPriceDate
        </th>

        <th scope="col">
            @Resources.General.BasketSell
        </th>

        <th scope="col">
            @Resources.General.BasketBuy
        </th>

        <th style="width:7%;" scope="col">
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (trClass == "clr_tr") { trClass = ""; }
        else
        {
            trClass = "clr_tr";
        }
        <tr class=@trClass>
            <td>
                @Html.ActionLink(item.Name, "TraderPricesHistory", new { traderId = item.TraderID })
            </td>
            @if (item.TradersMinSell)
            {
                <td>
                    <label id="lblCurrentSell">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.CurrentSell)</label>
                </td>
            }
            else
            {
                <td>
                    <label id="lblCurrentSell">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.CurrentSell)</label>
                </td>
            }
            @if (item.TradersMaxBuy)
            {
                <td>
                    <label id="lblCurrentBuy">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.CurrentBuy)</label>
                </td>
            }
            else
            {
                <td>
                    <label id="lblCurrentBuy">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.CurrentBuy)</label>
                </td>
            }
            <td>
                <label id="lblOpenSell">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.OpenSell)</label>
            </td>
            <td>
                <label id="lblOpenBuy">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.OpenBuy)</label>
            </td>
            <td>
                <label id="lblMinSell">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.MinSell)</label>
            </td>
            <td>
                <label id="lblMaxBuy">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.MaxBuy)</label>
            </td>
            @if (item.OpenBuy != 0 && item.OpenSell != 0)
            {
                <td>
                    <label id="lbldt">@String.Format("{0:T}", item.date)</label>
                </td>
            }
            else
            {
                <td>
                    <label id="lbldt">----</label>
                </td>
            }
            <td>
                <label id="lblMaxBuy">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.BasketSell)</label>
            </td>
            <td>
                <label id="lblMaxBuy">@string.Format("{0:0,0.00;(0:0,0.00);----}", item.BasketBuy)</label>
            </td>
            <td>
                <a style="text-decoration:none;" href="@Url.Action("Index", "TraderPricesChart", new { traderId = item.TraderID})" title='@Resources.General.traderChart'>
                    <img style="width :25px" src="@Url.Content("~/Content/Images/graphs.png")" title='@Resources.General.traderChart' />
                </a>
                <a style="text-decoration:none;" href="@Url.Action("Index", "TradersComparison", new { traderId = item.TraderID })" title='@Resources.General.comparsonChart'>
                    <img style="width :25px" src="@Url.Content("~/Content/Images/comparing_graphs.png")" title='@Resources.General.comparsonChart' />
                </a>
            </td>
            <td>
                @if (item.InBasket != 0)
                {
                    @Html.ActionLink(@Resources.General.InBasketPrices, "PricesHistory", new { title = @Resources.General.basketPriceHistory, Basketid = item.InBasket })
                }
            </td>
        </tr>

    }
</table>

<style>
    a.TraderPeriod {
        background: url(../Images/3d_bar_chart.png) no-repeat top left;
        display: block;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        /* hides the link text */
    }

    a.Traders {
        background: url(../Images/download.png) no-repeat top left;
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        /* hides the link text */
    }
</style>