@using GoldStreamer.Helpers
@model IEnumerable<BLL.DomainClasses.Trader>
@{
    ViewBag.Title = Resources.General.ManageFav;

    string baseUrl = CultureHelper.GetBaseURL().ToLower();
  Layout = "~/Views/Shared/_LayoutInner.cshtml";

}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-duallistbox.css" rel="stylesheet" />
<script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
<link href="~/Content/css/style.css" rel="stylesheet" />
<style>
    .innerBanner {
        margin-top: 0px;
    }
    .innerNav {
        height: 40px;
    }
    .innerInfo {
        height: 40px;
    }


</style>
@using (Html.BeginForm("Update", "FavorateList", FormMethod.Post, new { id = "form" }))
{
    
    
    
      //@Resources.General.ManageFav

    <div style="width: 87%;  direction: rtl; padding:20px;">

        <select id="User" multiple="multiple">
            @foreach (var item in Model)
            {
                if (item.FavoriteList != null)
                {
                    <option value="@item.ID" selected="selected">
                        @item.Name @item.Family
                    </option>
                }
                else
                {
                    <option value="@item.ID">
                        @item.Name @item.Family
                    </option>
                }
            }
        </select>
    </div>
    <div class="clr"></div>
    <input style="margin-right: 550px;" type="submit" id="Create" value="@Resources.General.Save" class="btn" />




    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <select id="User" multiple="multiple">
                @foreach (var item in Model)
                {
                    if (item.FavoriteList!=null)
                    {
                        <option value="@item.ID" selected="selected">
                            @item.Name @item.Family 
                        </option>
                    }
                    else
                    {
                        <option value="@item.ID">
                            @item.Name @item.Family
                        </option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="Create" value="@Resources.General.Save" class="btn btn-default" />
        </div>
    </div>*@

 
}

<script>
    if ($('#User').length > 0) {
        $('#User').bootstrapDualListbox({
            nonSelectedListLabel: '@Resources.General.Available',
            selectedListLabel: '@Resources.General.Chossen',
            //preserveSelectionOnMove: 'moved',
            moveOnSelect: false,
            nonSelectedFilter: '',
            selectedFilter: '',
            filterPlaceHolder: '@Resources.General.Search',
            infoText: '@Resources.General.TradersNumber',
            selectorMinimalHeight: 300, 
            filterTextClear: '@Resources.General.CancelSearch',
            moveAllLabel: '@Resources.General.AddAll',
            moveSelectedLabel: '@Resources.General.AddAll',
            removeSelectedLabel: '@Resources.General.DeleteChoosen',
            removeAllLabel: '@Resources.General.DeleteAll',

            preserveSelectionOnMove: false,                                                     // 'all' / 'moved' / false
            helperSelectNamePostfix: '_helper',                                                 // 'string_of_postfix' / false
            showFilterInputs: true,                                                             // whether to show filter inputs

            infoTextFiltered: '<span class="label label-warning">@Resources.General.Trader</span> {0} @Resources.General.From  ' + '{1}', // when not all of the options are visible due to the filter
            infoTextEmpty: '@Resources.General.TradersNumber1'
        });
    }

    $('#Create').click(function (e) {
        e.preventDefault(); // <------------------ stop default behaviour of button

        var foo = [];
        $('#User :selected').each(function (i, selected) {
            foo[i] = selected.value;
        });

        if (!$("#form").valid()) return false;
        $.ajax({
            url: '@(baseUrl)/' + '/FavorateList/Update/',
            type: "POST",
            data: JSON.stringify({ userIds: foo }),
            cache: false,
            contentType: "application/json; charset=utf-8",

            success: function () {
                toastr.success('@Resources.Messages.Saved');
            },
            error: function (data, xhr, textStatus) {
                if (data.status === 1)
                    toastr.error('@Resources.Messages.BasketNameDuplicate');
                else
                    toastr.error(textStatus);
            }
        });
        return false;
    }

  );
</script>

@if (GoldStreamer.Helpers.UserNavigation.IsSuperTrader())
{
    @section SideMenu{
        @Html.Partial("_SuperTraderMenu")
    }
}
else if (GoldStreamer.Helpers.UserNavigation.IsTrader())
{
    @section SideMenu{
        @Html.Partial("_TraderSideMenu")
    }
}


@section UpperBanner{


    <div class="innerBanner">
        <h1 class="banner_header">@Resources.General.ManageFav</h1>

        <div class="banner"><img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" /></div>
    </div>
}
<script>
    $(function () {
        $("#div_fvlist").addClass("menuItemactive");
    });
</script>