@model GoldStreamerWebApp.Models.ManageUserViewModel
@{
    ViewBag.Title = Resources.General.ResetPassword;
}

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @*@Html.ValidationSummary()*@
    @Html.HiddenFor(m=>m.UserName)
    @Html.HiddenFor(m=>m.OldPassword,new{value="8789789"})
    
                <table style="width: 50%; margin: auto; ">
                    <tr>
                        <td>@Resources.General.NewPassword :</td>
                        <td>
                            @Html.PasswordFor(m => m.NewPassword, new { placeholder = @Resources.General.NewPassword, @class = "form-control", autofocus = "true", maxlength = 20 })
                            @Html.ValidationMessageFor(m => m.NewPassword)
 </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>@Resources.General.ConfirmNewPassword :</td>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = @Resources.General.ConfirmNewPassword, @class = "form-control", maxlength = 20 })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <br />
                            <input type="submit" value="@Resources.General.ChangePassword" class="btn" />
                        </td>
                    </tr>
</table>
   
}
