@model GoldStreamerWebApp.Models.LoginViewModel

@{
    ViewBag.Title = Resources.General.ReGetPassword;
    Layout = "~/Views/Shared/_LayoutInner.cshtml";

}

<h1>@Resources.General.ReGetPassword </h1>

<br />

    <section id="ForgetPWForm">
        @using (Html.BeginForm("SendNewPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true)
            <table style="width:40%; text-align:right;" cellpadding="7">
<tr>
    <td>
        @Resources.General.UserName <label style="color: red">* </label>

    </td>

    <td>
        @Html.TextBoxFor(m => m.UserName, new { placeholder = @Resources.General.UserName, @class = "form-control", autofocus = "true" })
        <br /> <label style="color :red;">@Html.ValidationMessageFor(m => m.UserName)</label>
    </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:center;">

            <input type="submit" value="@Resources.General.Send" class="btn" />
        </td>
</tr>

                </table>
        }
                
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @section SideMenu{
        @Html.Partial("_ContactSideMenue")
    }
    @section UpperBanner{


        <div class="innerBanner">
            <h1 class="banner_header">@Resources.General.ReGetPassword</h1>

            <div class="banner"><img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" /></div>
        </div>
    }
