@using GoldStreamer.Helpers
@model ExchangeWebApp.Models.ViewModels.UsersViewModel


@{
    string baseURL = CultureHelper.GetBaseURL().ToLower();
}
@{
    ViewBag.Title = "ChangePassword";
}
<link href="~/css/strength.css" rel="stylesheet" />
<script src="~/Scripts/strength.min.js"></script>
<h2>ChangePassword</h2>
<script type="text/javascript">
    $(document).ready(function($) {

        $("#myPassword").strength();

    });
</script>

<form id="form" class="form-horizontal" method="post">

    <div class="form-group">
        @Html.Label(@Resources.General.UserName, new { @class = "col-sm-3" })
        <div class="col-sm-2">
           
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", maxlength = "20", autocomplete = "off", placeholder = @Resources.General.UserName, id = "txtUsername" })      
                @Html.ValidationMessageFor(x => x.UserName)
        </div>
    </div>
    <div class="form-group">

        @Html.Label(@Resources.General.CurrPassword, new { @class = "col-sm-3" })
        <div class="col-sm-2">
        
            @Html.PasswordFor(x => x.CurrPassword, new { @class = "form-control", maxlength = "20", autocomplete = "off", placeholder = @Resources.General.Password, id = "CurrPassword" })
            
            @Html.ValidationMessageFor(x => x.CurrPassword)
        </div>
    </div>
    <div class="form-group">

        @Html.Label(@Resources.General.Password, new { @class = "col-sm-3" })
        <div class="col-sm-2">
           
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", maxlength = "20", autocomplete = "off", placeholder = @Resources.General.Password, id = "NewPassword" })
                @*<input id="myPassword" type="password" name="" value="">*@
                @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="form-group">
        @Html.Label(@Resources.General.ConfirmPassword, new { @class = "col-sm-3" })
        <div class="col-sm-2">

          
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", maxlength = "20", placeholder = @Resources.General.ConfirmPassword })
           
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="btnSave" value="@Resources.General.Save" class="btn btn-default" />
        </div>
    </div>
 </form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#btnSave').on('click', function(e) {

            var txtuserName = $("#txtUsername").val();
            var txtCurrPassword = $("#CurrPassword").val();
            var txtNewPassword = $("#NewPassword").val();
            e.preventDefault();
            if ($("#form").valid()) {
                $.ajax({
                    url: '@(baseURL)/' + '/Users/RestPassword',
                    type: 'POST',
                    async: false,
                    cache: false,

                    data: { UserName: txtuserName, CurrPassword: txtCurrPassword, NewPassword: txtNewPassword },
                    success: function (data) {
                        toastr.success('@Resources.Messages.Saved');
                        window.location.load();
                    },
                    error: function (xhr, textStatus) {
                       
                        if (xhr.status == 1) {
                            toastr.error('user Not found');
                        }
                        else if (xhr.status == 2) {
                            toastr.error('Password Not Right');
                        }
                        else if (xhr.status == 5)
                            window.location.reload();
                        else
                            toastr.error('Error!');
                    }
                });
            } else {
                return false;
            }
            return false;
        });
    });


</script>
